*{
    box-sizing: border-box;
}

body{
    background-color: seagreen;
}

.main-header{
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .logo{
font-size: 45px;
}


